body {
    width:960px;
    font-family:'Arial', 'Helvetica Neue',Helvetia, sans-serif;
    color: '#777';
    background: '#777';
    font-size:'18px';
    margin: 0 auto;
}
    

div {
    border: 5px;
    background-color: lightgray;
    font-size: 18px;
}




.header {
    background-color: 'ebebeb';
    color: black;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background:'lightgray';
}

.nav {
    background-color:'ebebeb';
    color: black;
    padding: 20px;
    margin: 10px;
   
    text-align: center;
}

section {
    width: 495px;
    float:left;
    height: 300px;
    background-color: lightgray;
    color: black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    

}

aside {
    display: block;
    width: 40%;
    float: right;
    height: 300px;
    background-color: lightgray;
    color: black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    }


article {
    color: black;
    background: gray;
    padding: 5px;
    text-align: center;
    margin: 10px;
    
}



h1 {
    color: black;
    background: white;
    padding: 10px;
}

#p {
    color: black;
    background: white;
    padding: 10px;
}




.footer {
    background-color: 'ebebeb';
    color: black;
    padding: 50px;
    margin: 10px;
    text-align: center;
  
    clear: both;
        }


